<div class="fc sub-page">
	<h1>
		<%= gravatar_for @user %>
		<%= @user.name %>
	</h1>
	<div class="fc">
	<section class="column key-header fc">
		<div class="box fc">
			<div class="box-content fc">
				<div class="display-info column fc">
					<label>Email:</label><%= @user.email %>
				</div>
			
				<div class="column fc">
					<div class="statistic">
						<span>Public backlogs</span>
						<strong><%= @user.public_backlogs_count %></strong>
					</div>
		
					<% if @user == current_user %>
						<div class="statistic">
							<span>Private backlogs</span>
							<strong><%= @user.private_backlogs_count %></strong>
						</div>
					<% end %>
				</div>		
			</div>
		</div>
	</section>
	</div>
	<%= render "backlogs/backlog_list" %>
</div>
