<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>
<div class="box small-column fc">
	<div class="small-column fc">
		<dl>
			<dt>Name:</dt>
			<dd><%= @user.name %></dd>
		</dl>
		<dl>
			<dt>Email:</dt>
			<dd><%= @user.email %><dd>
		</dl>
	</div>
	<div class="small-column fc">
		<div class="statistic">
			<strong><%= @user.public_backlogs_count %></strong>
			public backlogs
		</div>
		
		<% if @user == current_user %>
			<div class="statistic">
				<strong><%= @user.private_backlogs_count %></strong>
				private backlogs
			</div>
		<% end %>
		
	</div>

</div>
<% unless @user.backlogs.empty? %>
  <ul class="backlogs fc">
    <%= render @backlogs %>
  </ul>
  <%= will_paginate @backlogs %>
<% end %>

