<%= form_for @backlog do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
  	<label>Title:</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
  	<label>Private:</label>
    <%= f.check_box :private %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
