<%= form_for @backlog_item do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
	<input type="hidden" id="backlog_id" name="backlog_id" value="<%= @backlog.id %>" />
  <div class="field">
  	<label>Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
  	<label>Points</label>
  	<%= select(:backlog_item, :points, Backlog::POINTS, :include_blank => "?") %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
