<%= form_for @backlog_item do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
  	<label>Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
  	<label>Points</label>
  	<%= select(:backlog_item, :points, Backlog::POINTS, :include_blank => "?") %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
    <a href="#" data-event="onCancelEdit">Cancel</a>
  </div>
<% end %>
