<div class="fc" id="backlog-page">
	<h2><%= @backlog.title %></h2>
	<section class="large-column">
		<div class="box">			
			<div class="box-content">				
				<div id="backlog-large-column-scroll" class="scrollbar-container">
					<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
					<div class="viewport">
						<div class="overview">
							<ul id="backlog-items-list" class="backlog-items fc" data-backlog-id="<%= @backlog.id %>">
								<%= render @backlog_items %>
							</ul>
						</div>
					</div>
				</div>
				<% if can? :create_items_in, @backlog %>
					<%= render "backlog_items/new_backlog_item_form" %>
				<% end %>		
			</div>
		</div>		
	</section>	
	
	<section class="small-column">
		<div id="sprint-heading" class="box-tab">
			<h2 class="left-aligned-header">Sprints</h2>
		</div>	
		<div class="box sprints">
			<div class="box-content">
				<div id="sprint-right-column-scroll" class="scrollbar-container">
					<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
					<div class="viewport">
						<div class="overview">
							<ul id="sprint-items-list" class="sprint-items">
								<%= render @sprint_items %>
							</ul>
						</div>
					</div>
				</div>
				<% if can? :create_items_in, @backlog %>
					<%= render "sprints/new_sprint_form" %>
				<% end %>		
			</div>
		</div>		
		
		<div class="box-tab">
			<h2 class="left-aligned-header">Members</h2>
		</div>
		<div class="box collaborators">
			<%= render  :partial => "collaborators/image_list_collaborator", 
									:locals => {:collaborators => @backlog.collaborators} %>
			<% if can? :create_items_in, @backlog %>
				<%= render :partial => "collaborators/new_collaborator_form", :locals => { :backlog => @backlog } %>
			<% end %>	
		</div>
		
	</section>

</div>
<script type="text/x-jqote-template" id="backlog_item_template">
  <![CDATA[
    <p class="points backlog-item-info" ><%%= this.points || "?" %></p>
   	<%% if (this.sprint) { %>
	   	<p class="sprint backlog-item-info"><%%= this.sprint %></p>  	
  	<%% } %>
		<h3><%%= this.title %></h3>
  ]]>
</script>
<script type="text/x-jqote-template" id="sprint_item_template">
  <![CDATA[
	  <a href="/sprints/<%%= this.id %>"><%%= this.title %></a>
  ]]>
</script>


