
<div class="fc sub-page">
	<h1 class="without-image">
		<%= @backlog.title %>	
	</h1>	

	<section class="column key-header">		
		<div class="box fc">
			<div class="box-content fc">

				<div class="statistic">
					<span>items</span>
					<strong id="backlog-items-count"><%= @backlog.backlog_items.count %></strong>
				</div>

				<div class="statistic">
					<span>points</span>
					<strong id="backlog-point-count"><%= @backlog.total_points %></strong>
				</div>

				<div class="statistic">
							<%= render "sprints/new_sprint_form" %>
				</div>

					<% if can? :destroy, @backlog %>
						<div class="admin fc" data-id="<%= @backlog.id %>">                               
						<%= link_to(@backlog, :method => :delete, :confirm => "Are you sure you want to delete this entire backlog? All items will be removed when doing so.", :title => "Delete backlog", :class => "button negative") do %><span class="icon trash"></span>Delete<% end %></div>
					<% end %>
			</div>			
		</div>
	</section>
	
	<div class="page-info">
		<label>Created by:</label>
		<p><%= link_to @backlog.user.name, @backlog.user, :class => "box-link" %></p>
		<label>Private:</label>
		<p><%= @backlog.private? %></p>
	</div>
		
</div>
	
<div class="fc">
	<section class="large-column">	
		<div class="box">
			<div class="box-content">
				<h2 class="box-heading">Backlog items</h2>
				<%= will_paginate @backlog_items %>
				<ul id="backlog-items-list" class="backlog-items fc">
					<%= render @backlog_items %>
				</ul>
				<%= will_paginate @backlog_items %>
			</div>
		</div>
	</section>	

	<% if can? :create_items_in, @backlog %>
		<section id="new_backlog_item_form"  class="small-column">
			<div class="box" style="position:fixed;width: 30.3%;">
				<div class="box-content">
					<h2 class="box-heading">Create backlog item</h2>
					<%= render "shared/backlog_item_form" %>
				</div>
			</div>
		</section>
	<% end %>
	
	<% if can? :edit_items_in, @backlog %>
		<div id="edit_backlog_item_form" class="hidden" ></div>
	<% end %>

</div>
<script type="text/x-jqote-template" id="backlog_item_template">
  <![CDATA[
		<li class="backlog-item fc selected" data-id="<%%= this.id %>">
			<div class="buttons">
				<a href="#" class="button left pill negative delete" data-event="onDeleteBacklogItem" >Delete</a>	
				<a href="#" class="button right pill edit" data-event="onEditBacklogItem" >Edit</a>	
			</div>
	    <p class="points" title="Points: <%%= this.points || "?" %>">Points: <%%= this.points || "?" %></p>		
	    <%% for(var i = 0; i < this.categories.length; i++) %>
						<%%= "<p class='tag'>" + this.categories[i].tag.name + "</p>" %>
			<%% ; %>
	    
			<div class="primary-info">
				<span class="handle">...</span>

				<h3>#<%%= this.display_id %></h3>
				<p class="title"><%%= this.title %></p>
			</div>

			<div class="secondary-info">
				<h3>Description</h3>
				<p class="description"><%%= this.description %></p> 		
			</div>
		</li>
  ]]>
</script>


