	<h1>
		<%= @backlog.title %>	
	</h1>
	<div class="fc">
		<section class="column backlog-header">

			<div class="box fc">
				<div class="column fc">
					<dl>
						<dt>Created by:</dt>
						<dd><%= link_to @backlog.user.name, @backlog.user, :class => "box-link" %></dd>
					</dl>
					<dl>
						<dt>Private:</dt>
						<dd><%= @backlog.private? %><dd>
					</dl>
				</div>
				<div class="column fc">
					<div class="statistic">
						<strong id="backlog-items-count"><%= @backlog.backlog_items.count %></strong>
						<span>items</span>
					</div>
					<div class="statistic">
						<strong id="backlog-point-count">0</strong>
						<span>points</span>
					</div>
						<% if can? :destroy, @backlog %>
						<div class="admin" data-id="<%= @backlog.id %>">                               
 							<%= link_to(@backlog, :method => :delete, :confirm => "Are you sure you want to delete this entire backlog? All items will be removed when doing so", :title => "Delete backlog", :class => "button negative") do %><span class="icon trash"></span>Delete<% end %></div>
						<% end %>
				</div>
			
			</div>
		</section>
		<section class="column"></section>
	</div>
	<div class="fc">
		<section class="column">	
			<div class="box">
				<div class="box-content">
					<% if can? :create_items_in, @backlog %>
						<a href="#" class="button create-item-button toggle-block" data-toogle="#new_backlog_item_form">Create new item</a>
					<% end %>
					<h2>Backlog items</h2>
					<%= will_paginate @backlog_items %>
					<ul id="backlog-items-list" class="backlog-items fc">
						<%= render @backlog_items %>
					</ul>
					<%= will_paginate @backlog_items %>
				</div>
			</div>
		</section>

		<section id="new_backlog_item_form" class="column hidden">
			<div class="box">
			<% unless @backlog.nil? %>
				<%= render "shared/backlog_item_form" %>
			<% end %>
			<% if can? :edit_items_in, @backlog %>
				<div id="edit_backlog_item_form" ></div>
			<% end %>
			</div>
		</section>
	</div>
	<script type="text/x-jqote-template" id="backlog_item_template">
    <![CDATA[
			<li class="backlog-item selected" data-id="<%%= this.id %>">
				<div class="buttons">
					<a href="#" class="button left pill negative delete" data-event="onDeleteBacklogItem" >Delete</a>	
					<a href="#" class="button right pill edit" data-event="onEditBacklogItem" >Edit</a>	
				</div>
		    <p class="points" title="Points: <%%= this.points || "?" %>"><%%= this.points || "?" %></p>		
		    <%% for(var i = 0; i < this.categories.length; i++) %>
							<%%= "<p class='tag'>" + this.categories[i].tag.name + "</p>" %>
				<%% ; %>
				<p>#<%%= this.display_id %>
		    	<span class="title"><%%= this.title %></span>  
		    </p>
			  <p class="timestamp">Created <%%= this.created %> ago.</p>
			</li>
    ]]>
	</script>


