<div class="fc" id="backlog-page">
	<% content_for :head do %>
		<h1><%= @backlog.title %></h1>
	<% end %>
	<% content_for :members do %>
		<%= render  :partial => "collaborators/image_list_collaborator", 
									:locals => {:collaborators => @backlog.collaborators} %>
	<% end %>
	<% content_for :actions do %>
		<div class="actions">
			<button class="item-selected" id="add-sprint" data-type="add-sprint">Add sprint</button>
			<button class="item-selected" id="remove-item" data-type="remove">Remove</button>
		</div>
	<% end %>

	<div class="backlog-menu">
		<ul>
			<%= render @backlogs %>
		</ul>
	</div>
	
	<section class="workarea">

	<div class="box">			
		<div class="box-content backlog-box">
			<div class="backlog-list-heading fc">
				<h3 class="points">Points:<span class="points"><%= @backlog.total_points %></span></h3>
			</div>
			<ul id="backlog-items-list" class="backlog-items fc" data-backlog-id="<%= @backlog.id %>">
				<%= render @backlog_items %>
			</ul>
		</div>
		<% if can? :create_items_in, @backlog %>
			<%= render "backlog_items/new_backlog_item_form" %>
		<% end %>		

	</div>

	</section>
</div>
<script type="text/x-jqote-template" id="backlog_item_template">
  <![CDATA[
  	<input type="checkbox" class="backlog-selector" <%%= this.selected ? "checked='checked'" : "" %> />  
  	<div class="status <%%= this.status %>"><%%= this.status %></div>
		<h3 class="backlog-item-title"><%%= this.title %></h3>   	
  	<p class="points" ><%%= this.points || "?" %></p>
  ]]>
</script>
