
<div class="fc sub-page">
	<h1 class="without-image">
		<%= @backlog.title %>	
	</h1>	

	<section class="column key-header">		
		<div class="box fc">
			<div class="box-content fc">

				<div class="statistic">
					<span>items</span>
					<strong id="backlog-items-count"><%= @backlog.backlog_items.count %></strong>
				</div>

				<div class="statistic">
					<span>points</span>
					<strong id="backlog-point-count"><%= @backlog.total_points %></strong>
				</div>

				<div class="statistic">
							<%= render "sprints/new_sprint_form" %>
				</div>

					<% if can? :destroy, @backlog %>
						<div class="admin fc" data-id="<%= @backlog.id %>">                               
						<%= link_to(@backlog, :method => :delete, :confirm => "Are you sure you want to delete this entire backlog? All items will be removed when doing so.", :title => "Delete backlog", :class => "button negative") do %><span class="icon trash"></span>Delete<% end %></div>
					<% end %>
			</div>			
		</div>
	</section>
	
	<div class="page-info">
		<label>Created by:</label>
		<p><%= link_to @backlog.user.name, @backlog.user, :class => "box-link" %></p>
		<label>Private:</label>
		<p><%= @backlog.private? %></p>
	</div>
		
</div>


	
<div class="fc" id="backlog-page">

	<section class="large-column">	
	
		<div class="box">
			<div class="box-content scrollable">				
				<h2 class="box-heading">Stories</h2>
				
				<ul id="backlog-items-list" class="backlog-items fc" data-backlog-id="<%= @backlog.id %>">
					<%= render @backlog_items %>
				</ul>
				<% if can? :create_items_in, @backlog %>
						<%= render "backlog_items/new_backlog_item_form" %>
				<% end %>				
			</div>
		</div>
		
	</section>	
	
	<section class="small-column">
	
		<div class="box">
			<div class="box-content">
				<h2 class="box-heading">Sprints</h2>		
				<ul>
					<%= render @sprint_items %>
				</ul>
			</div>
		</div>		
		
	</section>

</div>
<script type="text/x-jqote-template" id="backlog_item_template">
  <![CDATA[
		<li class="fc" data-id="<%%= this.id %>">
	    <p class="points" ><%%= this.points || "?" %></p>
			<h3><%%= this.title %></h3>
			<p class="description"><%%= this.description || "" %></p>
		</li>
  ]]>
</script>


