<li class="backlog-item" data-id="<%= backlog_item.id %>">
		<% if can? :destroy, backlog_item  %>
			<a href="#" class="button right delete" data-event="onDeleteBacklogItem" >Delete</a>
		<% end %>
		<% if can? :update, backlog_item  %>
			<a href="#" class="button right edit" data-event="onEditBacklogItem" >Edit</a>
		<% end %>
    <p class="points" title="Points: <%= backlog_item.points || "?" %>"><%= backlog_item.points || "?" %></p>
		<% backlog_item.categories.each do |c| %>
			<p class="tag"><%= c.name %></p>
		<% end %>
		<p>#<%= backlog_item.display_id %>
	    <span class="title"><%= backlog_item.title %></span>  
    </p>
	  <p class="timestamp">
      Created <%= time_ago_in_words(backlog_item.created_at) %> ago.
    </p>
</li>
