<li class="backlog-item" data-id="<%= backlog_item.id %>">
<div class="buttons">
<%# need to be no space or style is messed up %>
<% if can? :destroy, backlog_item  %><a href="#" class="button left pill negative delete" data-event="onDeleteBacklogItem" >Delete</a><% end %><% if can? :update, backlog_item  %><a href="#" class="button right pill edit" data-event="onEditBacklogItem" >Edit</a><% end %>
</div>
    <p class="points" title="Points: <%= backlog_item.points || "?" %>"><%= backlog_item.points || "?" %></p>
		<% backlog_item.categories.each do |c| %>
			<p class="tag"><%= c.name %></p>
		<% end %>
		
		<p>
			<span class="handle">...</span>
			#<%= backlog_item.display_id %>
	    <span class="title"><%= backlog_item.title %></span>  
    </p>
	  <p class="timestamp">
      Created <%= time_ago_in_words(backlog_item.created_at) %> ago.
    </p>
</li>
