<li class="fc" data-id="<%= backlog_item.id %>">
    <input type="checkbox" class="backlog-selector" />
    <div class="status <%= backlog_item.status.downcase %>"><%= backlog_item.status.downcase %></div>
    <h3 class="backlog-item-title"><%= backlog_item.title %></h3>    
    <p class="points"><%= backlog_item.points || "?" %></p>
</li>
