<header class="fc">
	<section id="main-header" >
    <%= link_to logo, root_path %>
    <% user_signed_in = signed_in? %>
    <div class="user-info">
    	<% if user_signed_in %>
				<%= link_to current_user.name, current_user %> | 
				<%= link_to "Sign out", signout_path, :method => :delete %>
			<% else %>
				<%= link_to "Sign in", signin_path %>
			<% end %>
		</div>
	</section>
	<section id="sub-header" class="fc" >	
		<%= yield :head %>	
		<%= yield :actions %>
		<%= yield :members %>	
		<section id="header-messages">
		<% flash.each do |key, value| %>
			<span class="flash <%= key %>"><%= value %></span>
		<% end %>
		</section>
	</section>	
</header>	

