<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
		<%= include_stylesheets :workspace, :media => 'all' %>
  </head>
  <body id="<%= params[:controller].parameterize %>_controller">
			<%= render 'layouts/header' %>            
      <section id="page" class="fc">   	      
		      <%= yield %>
          <% #debug(params) if Rails.env.development? %>
      </section>
			<%= include_javascripts :workspace %>

  </body>
</html>

