<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
			<%= render 'layouts/header' %>            
      <section id="page">
      	<section id="content">
   	      <% flash.each do |key, value| %>
  	        <div class="flash <%= key %>"><%= value %></div>
		      <% end %>
		      <%= yield %>
          <%= debug(params) if Rails.env.development? %>
  	    </section>
      </section>
      <%= render 'layouts/footer' %>
  </body>
</html>

